<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]"  class="w-100">
        </div>
    </ng-template>
    
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]"  class="w-100">
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[3]"  class="w-100">
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[4]"  class="w-100">
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[5]"  class="w-100">
        </div>
    </ng-template>

</ngb-carousel>